*{
    font-family: Helvetica, sans-serif;
}

*:focus{
    outline: 3px dashed red;
    background-color: #0af2ee;
}

body{
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    /* background-image: repeating-linear-gradient(purple, teal 10%, blue 20%); */
    /* background-image: radial-gradient(teal, yellow, purple); */
    /* background-image: linear-gradient(-10deg, purple, teal); */
    background-color: purple;
}

h1{
    text-align: center;
    color: #00ff37;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 800%;
    margin-bottom: 5%;
    -webkit-animation: title-animation 1.1s both;
    animation: title-animation 1.1s both;
}

img{
        /* border-radius: 100%; */
    display: block;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;
}

a:hover:not(.demo){
    background-color: yellow;
}

a.demo{
    color: purple;
    text-decoration: none;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* a.demo:hover{
    color: purple;
} */

#funky{
    border-width: 30px 10px 4px 20px;
    border-color:  blue green red yellow;
    border-radius: 15%;
}

.questioncont{
    width: 50vw; 
    height: auto;
    display: grid;
    grid-template-columns: 1% 98% 1%;
    grid-template-areas:
    "question question question"
    ". answers ."
    "explanation explanation explanation";
    background: aliceblue;
    border: 5px black dotted;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    margin-bottom: 2%;
}

.question{
    grid-area: question;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    padding: 3%;
}

.question:hover{
    color:red;
}

.answerscont{
    grid-area: answers;
    margin-bottom: 5%;
    margin-left: 15%;
}

.answer{ 
    display: inline-block;
    text-align: center;
    width: 10vw; 
    border: 2px black solid;
    padding: 1%;
}

.answer:hover{
    -webkit-animation: jump-out 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: jump-out 0.1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.explanation{
    grid-area: explanation;
    font-size: 125%;
    margin-top: -50000px;
}

.explanation:focus{
    margin-top: 0px; 
    /* the appearing and disappearing can be kinda done with opacity as well */
    display: block;
    padding: 1%;
    margin-bottom: 2%;
    text-align: left;
}

.lol, .exp{
    font-weight: bolder;
}

.opaque:hover{
    opacity: 0.3;
}

/* answers */

#z:hover{
    background-color: #ff0000;
}

#d:hover{
    background-color: #00ff37;
}

/* cloud */
.helpful-cloud{
    z-index: -5;
    position: fixed;
    margin-left: 74.5%;
}

.inside-cloud{
    margin-left: 20%;
    font-weight: 800;
}

/* the cloud shape was taken from https://codepen.io/Mark_Bowley/pen/xEbuI */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.6);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* this is for animations */
@-webkit-keyframes jump-out {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes jump-out {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e;
              box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }

  @-webkit-keyframes title-animation {
    0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  }
  @keyframes title-animation {
    0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  }